.mainFeed{
    display:flex;
    background-color: rgb(250, 250, 250,1);
    padding-top: 30px;
}

.postNav{
    padding-left: 5px;
    display: flex;
    gap: 10px;
}

.userInfo{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap:4px;

}

.feedFlex {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 12%;
}

.c1 {
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
}

.c2 {

}

.c3 {

}

.c4 {

}

.userProfile {
    color: #4CAF50;
    font-weight: bold;
}
.userProfile:hover{
    text-decoration: underline;
}
